@font-face {
font-family: 'Satyr-Regular';
  src: url('Satyr-Regular.otf');
}

@font-face {
font-family: 'mplus-regular';
  src: url('mplus-1m-regular.ttf');

}



body {
	width: 100%;
	left:0;
  	right:0;
 	padding: 0;
 	margin: 0;
 	font-family: 'Satyr-Regular';
 	color:white;

 	background: url("0.jpg");
 	background-repeat: no-repeat;
 	background-size: 55%;
 	background-position: center;
 	background-color: black;
  word-break: all;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


    line-height: 14pt;
/*
 	  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;*/

}


*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
	color: white;
	text-decoration: none;
	cursor: default;
}
p.index{
  padding: 5px;
}

.main-container {

	width:100%;
	height:50%;
	/*border: 4pt solid red;*/
	position: absolute;
}


.drop-down-menu {
	position: relative;

}

.menu-title {
  font-size: 28px;
  cursor: pointer;
  display:block;
  margin: 0;
  padding: 10px 0 10px 15px;
}
/*.meters {

	position: relative;
	top: 0;
	padding-top: 0;
	padding:100px;
}*/

.menu-title-m {
  font-family: 'mplus-regular';
	right:20px;
	top:0;
	position: absolute;
	margin:0;
	padding: 13px 0;
}
.activate {
  display: none;

/*  position: absolute;*/
  cursor: pointer;
  width: 100%;
  left:0;
  right:0;
  padding: 0;
  margin: 0;
  height: 40px;
 /* margin: 0 0 0 -15px;*/
  opacity: 0;
}
.top {
  padding: 20px;
}

h2 {
	top: 0;
	margin-bottom: 0;
  display: inline-block;
	background-color: black;
  float: left;
  font-size: 28px;
  padding-left: 5px;
  display: inline-block;
}

.credentials {
  display: inline-block;
  float: right;
  font-size:15px;
}

.menu a, .drop-down-menu {
border-bottom:1pt solid #333333;
padding: 10px;
}

.menu a, .drop-down-menu:first-child {
  border-top: 1px solid #333333;
}

/*.menu a:hover {
  background: lightgrey;

}*/

.drop-down a {

  background: black;
}

/*.drop-down a:hover {
}*/

.menu  {
  position: relative;
  margin-top: 60px;


}

:checked ~ .menu-title {
 /* background: lightgrey;*/
}

.drop-down {
  max-height: 0;
  overflow: hidden;


}

/*.drop-down a {
  background: #222;
}*/

.activate:checked ~ .drop-down {
  max-height: 800%;
}

.drop-down, .menu a, .drop-down-menu {
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.5s;
}


#biblio {
  color: white;
}
.content {
  width: 100%;
}

.text {
  margin-block-start: 0;
  margin-block-end: 0;
  float: left;
  font-size: 22px;
  line-height: 1.2;
	width: 60%;
	margin-right: 5%;
  padding-left: 15px;
}

.images {
  width: 30%;
  margin-right: 5%;
  float: right;
}





#last {
	padding-bottom: 10%;
}


.small-img {
	clear: both;
  max-width: 100%;
}



.big-img {
	height: auto;
  max-width: 460px;
	top:8%;
	float: right;
	position: sticky;
	display: none;
}

/**/


.footer, .bibliography {
	bottom:0;
	position: fixed;
	width: 100%;
	height:60px;
	z-index: 100000;
	border-top: solid white 1pt;
	border-bottom: solid white 1pt;
	background: black;
  overflow-y: hidden;
/*	display: inline-block;*/
}

.bib {
  position: relative;
  width: 100%;
  height: 100%;
}

.bibliography-column {
  margin-top: 50px;
  width: 30%;
  margin-right: 5%;
  height: 100%;
  float: left;
  padding-bottom: 150px;
  text-align: left;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  font-size: 12pt;
}

#last {
  margin-right: 0;
}


.column-inside {
  position: absolute;
  top: 0;
  padding-top: 50px;
  bottom: 100px;
  left: 0;
  right:-17px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.bibliography-column::-webkit-scrollbar-thumb {
  background-color: pink;
  outline: 1px solid slategrey;
}



.bibliography.open:before {
  content: '';
  width: 100%;
  height: 50px;
  bottom: 0;
  display: block;
  z-index: 999;
  position: absolute;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}


.bib:after {
  content: '';
  width: 100%;
  height: 50px;
  top: 50px;
  display: block;
  position: absolute;
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}




.grid-container {
  display: grid;
/*background-color: green;*/
  grid-template-columns: auto auto auto;
 box-sizing: border-box;



/*  grid-gap: -1px;*/
/*  padding: 10px;*/
}

.grid-container > div {

 	text-align: left;
/*  padding: 20px 0;*/
	border-left: solid 1pt white;
	height:60px;
  	font-size: 12px;
 	padding: 20px;
 	margin: 0;
}

.grid-container > div:first-child {
  border-left: 0;
}

.grid-item {
  font-family: 'mplus-regular';
/*	max-width:100%;
	width:20%;*/
	/*border: solid pink 5pt;*/
}
#first-grid {
	width:30%;
	position: fixed;
	left:0;

}
#second-grid {
	width:30%;
	position: fixed;
	left:34%;
}

#third-grid {
	width:30%;
	position: fixed;
	right:0;
}

a {
	display: none;
  color: black;
}


.view {
	display: block;
  animation: example 0.2s ease;
  animation-fill-mode: forwards;
}

#conclusion {
  width: 43.5%;
  min-height: 150%;
}
@keyframes example {
  from {color: black; transform: translateY(10px);}
  to {color: white; transform: translateY(0);}
}



.bibliography {
  font-family: 'mplus-regular';
	padding-top: 20px;
	text-align: center;
	font-size: 15pt;
	visibility: visible;
	 -webkit-transition: height 0.5s; /* For Safari 3.1 to 6.0 */
  	transition: height 0.5s;

}

.bibliography a {
  z-index: 999;
  display: block;
}

.hide {
	display: none;

}
#biblio:hover {
cursor: pointer;
}


.open {
	height: 450px;
	/*background-color:red;*/
}
